Repository Ava-Prime/gitguard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @security-team, @backend-team, @ai-team, @docs-team

.github/CODEOWNERS:

# GitGuard Code Owners
# Global rules
* @platform-team

# Infrastructure requires platform team approval
/infra/** @platform-team @security-team
/ops/** @platform-team
/.github/** @platform-team

# Application areas
/apps/guard-api/** @backend-team
/apps/guard-brain/** @ai-team
/workflows/** @platform-team @backend-team

# Policies need security sign-off
/policies/** @security-team @platform-team

# Documentation
**/*.md @docs-team
/docs/** @docs-team

ci: improve workflow robustness with error handling and fallbacks
  .github/workflows/ci.yml
  .github/workflows/codex-docs.yml
  .github/workflows/release.yml
Owners: @platform-team

ci: add container verification and pin trivy-action version
  .github/workflows/ci.yml
Owners: @platform-team

feat(ci): update workflows and add lockfile/DCO policies
  .github/workflows/ci.yml
  .github/workflows/codex-docs.yml
  .github/workflows/release.yml
  policies/guard_rules.rego
  policies/guard_rules_test.rego
Owners: @platform-team, @security-team

docs: add WSL2 setup guide and mise configuration
  WSL2_SETUP_GUIDE.md
  mise.toml
Owners: @docs-team, @platform-team

refactor(Makefile): simplify Makefile and remove unused targets
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .gitattributes
  .trae/rules/gitguard-pack.md
  Makefile
  mise.toml
  pyproject.toml
Owners: @platform-team, @docs-team

feat(dev-setup): add initial development environment configuration
  .trae/agents/gitguard-code-surgeon.json
  .trae/agents/policy-explainer-opa.json
  docker-compose.temporal.yml
  validate-setup.sh
Owners: @platform-team

feat(codex): add documentation templates and test coverage
  .pre-commit-config.yaml
  Makefile
  apps/guard-api/test_main.py
  apps/guard-codex/test_embeddings.py
  apps/guard-codex/test_main.py
  docs/internal/codex-database-schema.sql
  docs/internal/codex-deployment-config.txt
  docs/internal/codex-doc-templates.txt
  docs/internal/codex-integration-script.sh
  docs/internal/codex-temporal-activities.py
  docs/internal/gitguard-codex-implementation.md
  docs/internal/gitguard-codex-service.py
  mise.toml
  pytest.ini
  test_metrics.py
  test_opa_integration.py
  test_opa_policies.py
  test_workflow.py
Owners: @platform-team, @backend-team, @docs-team

feat(tests): add comprehensive test suites for security scanning and knowledge graph operations
  apps/__init__.py
  test_knowledge_graph.py
  tests/test_security_scanning.py
Owners: @platform-team

feat(shared): add shared infrastructure components
  apps/guard-api/main.py
  apps/shared/__init__.py
  apps/shared/config.py
  apps/shared/logging.py
  apps/shared/middleware.py
Owners: @backend-team, @platform-team

feat(metrics): add request latency tracking with prometheus
  apps/guard-api/metrics.py
  apps/shared/middleware.py
Owners: @backend-team, @platform-team

docs(issue_templates): add feature request and bug report templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @platform-team

feat(ci): add performance and docs validation workflows
  .cspell.json
  .github/workflows/docs-validation.yml
  .github/workflows/performance.yml
  tests/performance/test_health.py
Owners: @platform-team

Fix remaining linting issues: refactor global variables to app.state and exclude hyphenated directories from mypy
  apps/guard-api/main.py
  pyproject.toml
Owners: @backend-team, @platform-team

feat: complete release preparation with automation, docs, and community onboarding
  .github/ISSUE_TEMPLATE/good_first_issue_docs.yml
  .github/ISSUE_TEMPLATE/good_first_issue_install.yml
  .github/ISSUE_TEMPLATE/good_first_issue_screenshots.yml
  .github/workflows/docs-validation.yml
  .github/workflows/docs.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  README.md
  REPOSITORY_METADATA.md
  docs/images/grafana-dashboard-example.svg
  docs/images/policy-receipt-example.svg
  requirements-dev.txt
Owners: @platform-team, @docs-team

fix: resolve mypy type annotations and ruff linting issues
  apps/guard-api/main.py
  mcp/servers/gitguard_policy.py
Owners: @backend-team, @platform-team

docs: add release notes tracking file
  RELEASE_NOTES.md
Owners: @docs-team

ci: add workflow_dispatch trigger to release workflow
  .github/workflows/release.yml
Owners: @platform-team

docs: add emoji to key features section
  docs/index.md
Owners: @docs-team

chore: add per-file ignores for ruff to contain blast radius
  pyproject.toml
Owners: @platform-team

fix: add packages and id-token permissions to release workflow for GHCR
  .github/workflows/release.yml
Owners: @platform-team

docs: add GitHub Actions billing and permissions fix guide
  GITHUB_ACTIONS_FIX.md
Owners: @docs-team

feat: configure Release-Please as source of truth for releases
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @platform-team

feat: implement two-phase release workflow with enhanced config
  .github/workflows/release.yml
  release-please-config.json
Owners: @platform-team

feat: enhance repository with comprehensive badges, metadata, and documentation
  .github/repository-metadata.json
  README.md
Owners: @platform-team, @docs-team

docs: enhance release pipeline with hotfix/rollback procedures and verification templates
  .github/workflows/docs.yml
  .github/workflows/release.yml
  GITHUB_ACTIONS_FIX.md
  README.md
  release-please-config.json
Owners: @platform-team, @docs-team

feat: implement comprehensive Dependabot management solution
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Owners: @platform-team

refactor: enhance Dependabot configuration with improved grouping and workflow
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @platform-team

feat: implement comprehensive Dependabot management solution (#33)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  GITHUB_ACTIONS_FIX.md
  README.md
  release-please-config.json
Owners: @platform-team, @docs-team

Complete GitGuard enhancements: SBOM/Cosign, policy cookbook, risk scoring docs and tests
  .github/workflows/e2e-integration.yml
  .github/workflows/release.yml
  GETTING_STARTED.md
  README.md
  docs/policy-cookbook.md
  docs/risk-scoring.md
  tests/test_risk_scoring.py
Owners: @platform-team, @docs-team

feat(self-dogfood): add self-dogfooding setup and documentation
  .env.dogfood
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  LICENSE
  Makefile
  README.md
  SELF_DOGFOOD.md
  app.json
  docker-compose.temporal.yml
  scripts/dogfood.ps1
Owners: @platform-team, @docs-team

fix: apply pre-commit formatting fixes
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  .github/workflows/synthetic-dogfood.yml
  INCIDENT_RUNBOOK.md
  SUPPORT.md
Owners: @platform-team, @docs-team

chore: update configs and dependencies
  .dockerignore
  .secrets.baseline
  apps/guard-api/Dockerfile
  release-please-config.json
  requirements.txt
Owners: @platform-team, @backend-team
