Repository Ava-Prime/gitguard, changes with the owners that CODEOWNERS names for each.
All owners: @gitguard-team, @gitguard-security, @gitguard-docs, @gitguard-architecture, @gitguard-devops, @gitguard-backend, @gitguard-frontend

ci: improve workflow robustness with error handling and fallbacks
  .github/workflows/ci.yml
  .github/workflows/codex-docs.yml
  .github/workflows/release.yml
Owners: @gitguard-devops, @gitguard-team

ci: add container verification and pin trivy-action version
  .github/workflows/ci.yml
Owners: @gitguard-devops, @gitguard-team

feat(ci): update workflows and add lockfile/DCO policies
  .github/workflows/ci.yml
  .github/workflows/codex-docs.yml
  .github/workflows/release.yml
  policies/guard_rules.rego
  policies/guard_rules_test.rego
Owners: @gitguard-devops, @gitguard-team, @gitguard-security

docs: add WSL2 setup guide and mise configuration
  WSL2_SETUP_GUIDE.md
  mise.toml
Owners: @gitguard-docs, @gitguard-team, @gitguard-devops

refactor(Makefile): simplify Makefile and remove unused targets
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .gitattributes
  .trae/rules/gitguard-pack.md
  Makefile
  mise.toml
  pyproject.toml
Owners: @gitguard-devops, @gitguard-team, @gitguard-docs

feat(dev-setup): add initial development environment configuration
  .trae/agents/gitguard-code-surgeon.json
  .trae/agents/policy-explainer-opa.json
  docker-compose.temporal.yml
  validate-setup.sh
Owners: @gitguard-devops, @gitguard-team

feat(codex): add documentation templates and test coverage
  .pre-commit-config.yaml
  Makefile
  apps/guard-api/test_main.py
  apps/guard-codex/test_embeddings.py
  apps/guard-codex/test_main.py
  docs/internal/codex-database-schema.sql
  docs/internal/codex-deployment-config.txt
  docs/internal/codex-doc-templates.txt
  docs/internal/codex-integration-script.sh
  docs/internal/codex-temporal-activities.py
  docs/internal/gitguard-codex-implementation.md
  docs/internal/gitguard-codex-service.py
  mise.toml
  pytest.ini
  test_metrics.py
  test_opa_integration.py
  test_opa_policies.py
  test_workflow.py
Owners: @gitguard-devops, @gitguard-team, @gitguard-docs

feat(tests): add comprehensive test suites for security scanning and knowledge graph operations
  apps/__init__.py
  test_knowledge_graph.py
  tests/test_security_scanning.py
Owners: @gitguard-team

feat(shared): add shared infrastructure components
  apps/guard-api/main.py
  apps/shared/__init__.py
  apps/shared/config.py
  apps/shared/logging.py
  apps/shared/middleware.py
Owners: @gitguard-backend, @gitguard-team

feat(metrics): add request latency tracking with prometheus
  apps/guard-api/metrics.py
  apps/shared/middleware.py
Owners: @gitguard-backend, @gitguard-team

docs(issue_templates): add feature request and bug report templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @gitguard-devops, @gitguard-team

feat(ci): add performance and docs validation workflows
  .cspell.json
  .github/workflows/docs-validation.yml
  .github/workflows/performance.yml
  tests/performance/test_health.py
Owners: @gitguard-devops, @gitguard-team

CODEOWNERS:

# GitGuard Code Owners
# This file defines who owns different parts of the codebase
# and is used for automated review assignments and approval gates.

# Global fallback - requires approval from core team
* @gitguard-team

# Policy files require security team approval
/policies/ @gitguard-security @gitguard-team
*.rego @gitguard-security @gitguard-team

# Documentation requires docs team approval
/docs/ @gitguard-docs @gitguard-team
/docs_src/ @gitguard-docs @gitguard-team
/site/ @gitguard-docs @gitguard-team
*.md @gitguard-docs @gitguard-team

# Architecture Decision Records require architecture team
/adr/ @gitguard-architecture @gitguard-team

# Security-sensitive files require security team
SECURITY.md @gitguard-security @gitguard-team
/scripts/security/ @gitguard-security @gitguard-team

# CI/CD workflows require DevOps team
/.github/workflows/ @gitguard-devops @gitguard-team
/ops/ @gitguard-devops @gitguard-team
Dockerfile* @gitguard-devops @gitguard-team
docker-compose*.yml @gitguard-devops @gitguard-team

# Core application code
/apps/guard-api/ @gitguard-backend @gitguard-team
/apps/guard-codex/ @gitguard-backend @gitguard-team
/apps/guard-ui/ @gitguard-frontend @gitguard-team

# Database migrations and schemas
/migrations/ @gitguard-backend @gitguard-devops @gitguard-team
/schema/ @gitguard-backend @gitguard-devops @gitguard-team

# Configuration files
*.yml @gitguard-devops @gitguard-team
*.yaml @gitguard-devops @gitguard-team
*.toml @gitguard-devops @gitguard-team
*.json @gitguard-devops @gitguard-team

# Test files follow the same ownership as the code they test
/tests/ @gitguard-team
test_*.py @gitguard-team
*_test.py @gitguard-team
